CacheClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.hujao.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hujao.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hujao.com/Imports">
      <xsd:import namespace="http://www.hujao.com/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CacheBusiness.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICacheWCF_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="ICacheWCF_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheWCF_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ICacheWCF_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ICacheWCF_ModifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="ICacheWCF_CacheTimeOut_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CacheTimeOut" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICacheWCF">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetUserData">
      <wsdl:input wsaw:Action="http://www.hujao.com/ICacheWCF/GetUserData" message="tns:ICacheWCF_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hujao.com/ICacheWCF/GetUserDataResponse" message="tns:ICacheWCF_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddUser">
      <wsdl:input wsaw:Action="http://www.hujao.com/ICacheWCF/AddUser" message="tns:ICacheWCF_AddUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteUser">
      <wsdl:input wsaw:Action="http://www.hujao.com/ICacheWCF/DeleteUser" message="tns:ICacheWCF_DeleteUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ModifyUser">
      <wsdl:input wsaw:Action="http://www.hujao.com/ICacheWCF/ModifyUser" message="tns:ICacheWCF_ModifyUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CacheTimeOut">
      <wsdl:output wsaw:Action="http://www.hujao.com/ICacheWCF/CacheTimeOut" message="tns:ICacheWCF_CacheTimeOut_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>