WCFClient/Service References/WCFService/WCFEntity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="WcfMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MsgTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MsgType" type="tns:MsgType" />
      <xs:element minOccurs="0" name="ToID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfMsg" nillable="true" type="tns:WcfMsg" />
  <xs:simpleType name="MsgType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Login" />
      <xs:enumeration value="ReLogin" />
      <xs:enumeration value="LogOff" />
      <xs:enumeration value="System" />
      <xs:enumeration value="SystemMsg" />
      <xs:enumeration value="Command" />
      <xs:enumeration value="AllChat" />
      <xs:enumeration value="SingleChat" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MsgType" nillable="true" type="tns:MsgType" />
</xs:schema>